.pagination {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  button {
    border: none;
    width: 3rem;
    height: 3rem;
    font-size: 1.6rem;
    line-height: 100%;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;

    &.prevButton,
    &.nextButton {
      font-size: 2rem;
      background-color: rgba(0, 0, 0, 0.2);
    }

    &.active {
      color: blue;
      background-color: rgba(0, 0, 255, 0.2);
      transition: all 0.3s ease-in-out;
    }
  }
}