@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background: #e0e0e0;
  font-family: 'Ubuntu', sans-serif;
}

#root {
  max-width: 1024px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  height: 94vh;
  min-width: 280px;
  width: 90vw;
  max-width: 1440px;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: -20px 20px 20px #bebebe,
    20px -20px 20px #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  user-select: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 8px;
  }
}


@media (max-width: 550px) {
  .wrapper {
    height: 94vh;
    width: 90vw;
    margin-bottom: 5%;
  }
}